:root {
  --toastify-color-success: #389B48 !important;
  --toastify-color-error: #DC362E !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply min-w-[144px] h-11 px-4 rounded-sm text-base text-white whitespace-nowrap bg-black hover:bg-orange-400 active:bg-orange-500 disabled:bg-black disabled:opacity-40;
  }
  .btn-secondary {
    @apply min-w-[144px] h-11 px-4 border border-neutral-400 rounded-sm text-base text-black whitespace-nowrap bg-transparent hover:bg-neutral-200 active:bg-neutral-300 disabled:bg-transparent disabled:opacity-40;
  }
  .btn-image {
    @apply inline-flex justify-center items-center gap-2;
  }
  .btn-small {
    @apply min-w-[130px] h-9 px-2.5;
  }
  .btn-more {
    @apply w-11 h-11 px-3 py-3 border border-neutral-400 rounded-sm text-xl text-black bg-transparent hover:bg-neutral-200 active:bg-neutral-300 disabled:bg-transparent disabled:opacity-40;
  }
  .btn-more-small {
    @apply z-10 w-9 h-9 px-2.5 py-2.5 border border-neutral-400 rounded-sm text-base text-black bg-transparent hover:bg-neutral-300 hover:border-neutral-500 active:bg-neutral-400 disabled:bg-transparent disabled:opacity-40;
  }
  .btn-text {
    @apply min-w-[144px] h-11 px-4 text-base whitespace-nowrap text-black bg-transparent hover:text-orange-400 active:text-orange-500 disabled:text-black disabled:opacity-40;
  }

  .input {
    @apply h-10 px-4 py-1 border rounded-sm border-neutral-400 focus:outline-none focus:border-neutral-900
    disabled:opacity-40;
  }
  .input-file {
    /* @apply p-0 border; */
    @apply p-0 absolute top-0 left-0 border ;
  }
  .input-file::file-selector-button {
    @apply w-[151px] h-10 px-4 bg-neutral-900 border-none text-white;
  }
  .input-error {
    @apply border-red-400;
  }
  .text-error {
    @apply text-xs text-red-400;
  }

  .headline-1 {
    @apply text-[32px] leading-[120%] font-bold;
  }
  .headline-2 {
    @apply text-xl leading-[120%] font-bold;
  }
  .headline-3 {
    @apply text-base leading-[120%] font-bold;
  }
  .headline-4 {
    @apply text-sm leading-[120%] font-bold;
  }
  .text-large {
    @apply text-base leading-[150%];
  }
  .text-normal {
    @apply text-sm leading-[150%];
  }
  .text-small {
    @apply text-xs leading-[150%];
  }
  .text-caption {
    @apply text-[10px] leading-[150%];
  }

  .overlay {
    @apply fixed top-0 left-0 w-screen h-screen bg-neutral-400/60 z-10;
  }
  .pagination-btn{
    @apply inline-block h-10 py-1.5 px-2.5 border text-center;
  }
}

/* .menu {
  display: none;
}
.menu-btn:focus + .menu {
  display: block;
} */
